@import 'compass/css3';

@import 'variables';
@import 'layout/site';
@import 'layout/header';
@import 'layout/menu';

body, html{
    height: 100%;
    font-family: $fontLato;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

#root{
    height: 100%;
}
.container{
    position: relative;
    z-index: 1;
}