<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vs</title>

    <link rel="stylesheet" href="">
    <style>
       
        
        * {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: 'Forte';
        }
        
         #main {
            border: 1px solid black;
            /* background-image: url("images/bg.png"); */
            
           
        } 
    </style>
</head>

<body>
    <script src="/javascripts/fps.js" charset="utf-8"></script> 
    <script src="/javascripts/Leya.js" charset="utf-8"></script>
</body>

</html>