<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Czołgmajster</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <style>
       
        
        * {
            margin: 0;
            padding: 0;
            overflow: hidden;
           
        }
        
         #main {
           /* border: 1px solid black; */
            /* background-image: url("images/bg.png"); */
        } 
    </style>
</head>

<body>
    <div id="root"></div>
    
    <script src="/javascripts/fps.js" charset="utf-8"></script> 
    <script src="/javascripts/Leya.js" charset="utf-8"></script>
</body>

</html>